@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-5;
  }

  .whiteBtn {
    @apply bg-white text-black;
  }

  .heroBackground {
    @apply heroBg;
  }

  .heroBg {
    background-image: url(/collection.jpg);
  }
}
